src/main/app/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:sap="http://www.mulesoft.org/schema/mule/sap" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" 
xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" 
xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" 
xmlns="http://www.mulesoft.org/schema/mule/core" 
xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
xmlns:spring="http://www.springframework.org/schema/beans" 
version="EE-3.5.2" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/sap http://www.mulesoft.org/schema/mule/sap/current/mule-sap.xsd">

    <data-mapper:config name="map_to_csv" transformationGraphPath="map_to_csv.grf" doc:name="map_to_csv"/>
    <data-mapper:config name="ISA_SALESDOCUMENTS_SEARCH_NEW_to_BAPI_ISAORDER_GETDETAILEDLIST" transformationGraphPath="isa_salesdocuments_search_new_to_bapi_isaorder_getdetailedlist.grf" doc:name="ISA_SALESDOCUMENTS_SEARCH_NEW_to_BAPI_ISAORDER_GETDETAILEDLIST"/>
    <data-mapper:config name="BAPI_ISAORDER_GETDETAILEDLIST_to_Sales_Data" transformationGraphPath="bapi_isaorder_getdetailedlist_to_sales_data.grf" doc:name="BAPI_ISAORDER_GETDETAILEDLIST_to_Sales_Data"/>

        <flow name="mainFlow" doc:name="mainFlow" doc:description="This flow is the entry point to the Template business logic.

This flow should control the direction of the application, and it should be called by the different endpoints that your Template exposes to trigger it.">
        <flow-ref name="gatherDataFlow" doc:name="call gatherDataFlow"/>
        <flow-ref name="aggregationFlow" doc:name="call aggregationFlow"/> 
        <flow-ref name="formatOutputFlow" doc:name="call formatOutputFlow"/>
        <flow-ref name="outboundFlow" doc:name="call outboundFlow"/>
        <exception-strategy ref="defaultChoiceExceptionStrategy" doc:name="Reference Exception Strategy"/>
    </flow>
  
    <sub-flow name="gatherDataFlow" doc:name="gatherDataFlow">
        <enricher source="#[payload]" target="#[flowVars['opportunitiesFromSalesforce']]" doc:name="Store result in FlowVar 'opportunitiesFromSalesforce'">
            <sfdc:query config-ref="Salesforce" query="dsql:SELECT Id, Probability, Name, Amount FROM Opportunity" doc:name="query all opportunities from SalesForce"/>
        </enricher>
 
        <enricher source="#[payload]" target="#[flowVars['salesOrdersFromSap']]" doc:name="Store result in FlowVar 'salesOrdersFromSap'">
            <processor-chain doc:name="Processor Chain">
                <sap:outbound-endpoint exchange-pattern="request-response" connector-ref="SAP" type="function" functionName="ISA_SALESDOCUMENTS_SEARCH_NEW" xmlVersion="2" outputXml="true" responseTimeout="10000" doc:name="query all sales documents from SAP">
                    <sap:definition><![CDATA[<ISA_SALESDOCUMENTS_SEARCH_NEW>
	<import>
		<CUSTOMER_NUMBER>0000001175</CUSTOMER_NUMBER>
	</import>
</ISA_SALESDOCUMENTS_SEARCH_NEW>
]]></sap:definition>


                </sap:outbound-endpoint>
                <data-mapper:transform config-ref="ISA_SALESDOCUMENTS_SEARCH_NEW_to_BAPI_ISAORDER_GETDETAILEDLIST" doc:name="ISA_SALESDOCUMENTS_SEARCH_NEW to BAPI_ISAORDER_GETDETAILEDLIST"/>
                <sap:outbound-endpoint exchange-pattern="request-response" connector-ref="SAP" type="function" functionName="BAPI_ISAORDER_GETDETAILEDLIST" xmlVersion="2" outputXml="true" responseTimeout="10000" doc:name="query all sales orders from SAP"/>
                <data-mapper:transform config-ref="BAPI_ISAORDER_GETDETAILEDLIST_to_Sales_Data" doc:name="BAPI_ISAORDER_GETDETAILEDLIST to Sales Data"/>
                <expression-component doc:name="Expression"><![CDATA[soMap = new HashMap();
for (statusHeader : payload['StatusHeaders']) {
	soMap.put(statusHeader['Id'], [ 'Status' : statusHeader['Status'], 'Id' : statusHeader['Id']]);
}

textNameToLine = new HashMap();
for (textLine : payload['TextLines']) {
	textNameToLine.put(textLine.get('TextName'), textLine.get('Line'));
}

for (textHeader : payload['TextHeaders']) {
    item = soMap.get(textHeader.get('Id'));
	if (item != null) {
		item.put('Name', textNameToLine.get(textHeader.get('TextName')));
	}
}

payload = soMap.values();
]]></expression-component>
            </processor-chain>
        </enricher>
    </sub-flow>

    <sub-flow name="aggregationFlow" doc:name="aggregationFlow">
        <custom-transformer class="org.mule.templates.transformers.OpportunityMergerTransformer" doc:name="Custom component to build merged opportunity list"/>
    </sub-flow>
    
    <sub-flow name="formatOutputFlow" doc:name="formatOutputFlow">
        <custom-transformer class="org.mule.templates.transformers.SortOpportunityListTransformer" doc:name="Custom component to sort opportunity list"/>
        <data-mapper:transform config-ref="map_to_csv" doc:name="transform Collection of Maps to CSV Format"/>
        <object-to-string-transformer doc:name="CSV Output Object to String"/>
    </sub-flow>
</mule>
